<h2><%= @exercise.name %> <span class="badge <%= status(@exercise.status_id) %> text-white"><%= Status.find(@exercise.status_id).name %></span></h2>

<p>
  <span class="badge badge-secondary">Geometria analityczna</span>
</p>

<div class="alert alert-light" role="alert">
  Komentarz: <%= @exercise.comment %>
</div>

<% if @exercise.image.attached?  %>
<div>
  <%= image_tag @exercise.image, class: "img-fluid" %>
</div>
<% end %>

<a href="#reply" class="mt-3 btn btn-success">Odpowiedz</a>

<% @comments.each_with_index do |comment, i|  %>
<% if i > 0 && @comments[i-1].user_id != @comments[i].user_id%>
<div class="timestamp">
  <%= comment.created_at.in_time_zone('Warsaw').strftime("%d.%m.%Y %H:%M") %>
</div>
<% end %>
<div class="comment <%= user2(comment.user_id) %>">
<div class="card <%= user(comment.user_id) %>">
  <div class="card-body">
    <p><%= comment.content %></p>
    <% if comment.image.attached?  %>
    <div>
      <%= image_tag comment.image, class: "img-fluid" %>
    </div>
    <% end %>
  </div>
</div>
</div>
<% end %>

<div class="reply">
  <%= form_with(model: Comment.new, local: true) do |form| %>
    <% params[:exercise] = @exercise.id %>
    <%= form.hidden_field :exercise_id, :value => @exercise.id %>
    <%= form.hidden_field :user_id, :value => current_user.id %>
    <%= form.text_field :content, class: "reply-input", placeholder: "Wpisz tekst wiadomości" %>
    <%= form.label "Zdjęcie" %>
    <%= form.file_field :image %>
    <%= form.submit "Wyślij", class: "btn btn-success" %>
  <% end %>
</div>