<h2><%= @exercise.name %> <span class="badge <%= status(@exercise.status_id) %> text-white"><%= Status.find(@exercise.status_id).name %></span></h2>

<p>
  <span class="badge badge-secondary">Geometria analityczna</span>
</p>

<div class="alert alert-light" role="alert">
  Komentarz: <%= @exercise.comment %>
</div>

<% if @exercise.image.attached?  %>
<div>
  <%= image_tag @exercise.image, class: "img-fluid" %>
</div>
<% end %>

<a href="#reply" class="mt-3 btn btn-success">Odpowiedz</a>

<% @comments.each do |comment|  %>
<div class="card mt-4 <%= user(comment.user_id) %>">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <p><b><%= User.find(comment.user_id).email %></b></p>
      </div>
      <div class="col text-right"><%= comment.created_at %></div>
    </div>
    <p><%= comment.content %></p>
    <% if comment.image.attached?  %>
    <div>
      <%= image_tag comment.image, class: "img-fluid" %>
    </div>
    <% end %>
  </div>
</div>
<% end %>

<div class="card mt-4" id="reply">
  <div class="card-body">
    <h5 class="card-title">Odpowiedź</h5>
    <%= form_with(model: Comment.new, local: true) do |form| %>
      <% params[:exercise] = @exercise.id %>
      <%= form.hidden_field :exercise_id, :value => @exercise.id %>
      <%= form.hidden_field :user_id, :value => current_user.id %>
      <div class="form-group">
        <%= form.label "Opis" %>
        <%= form.text_field :content, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label "Zdjęcie" %>
        <%= form.file_field :image %>
      </div>
      <div class="actions">
        <%= form.submit "Wyślij", class: "btn btn-success" %>
      </div>
    <% end  %>
  </div>
</div>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
